@import url('https://vaspacx-home.netlify.app/main.css');



aside{
    width: 12vw;
    /* background-color: var(--secbg-color); */
    height: 200vh;
    margin-left: 11rem;
    margin-top:2rem;
}

.brand{
    border-bottom: 1px solid var(--text-color);
    padding: 21px 0px;
}
.brand label{
font-size: 0.8rem;
}

.price-range{
    border-bottom: 1px solid var(--text-color);
    padding: 5px 0px;
}

.price-range div{
    margin-bottom: 14px;
}

section{
    position: relative;
}

.catalog-nav{
    display: flex;
    width: 62vw;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 7%;
}

main{
    position: absolute;
    top: 10%;
    width: 69vw;
    right: 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100vh;
    gap: 30px;
}

main .product-display{
width: auto;
height: auto;
position: relative;
}

.product-display button{
    width: 148px;
    cursor: pointer;
}
.product-display button:hover{
   opacity:0.8;
}

main .product-display i{
    position: absolute;
    top: 5%;
    color: var(--text-color);
    font-size: 20px;
    right: 7%;
    cursor: pointer;
}

main .product-display i:hover{
    color:var(--font-color);
}
